[submodule "extensions/csharp"]
	path = extensions/csharp
	url = https://github.com/blamspotdev/j-code-ext-csharp.git
	branch = main
[submodule "extensions/javascript"]
	path = extensions/javascript
	url = https://github.com/blamspotdev/j-code-ext-javascript.git
	branch = main
[submodule "extensions/typescript"]
	path = extensions/typescript
	url = https://github.com/blamspotdev/j-code-ext-typescript.git
	branch = main
[submodule "extensions/markup-pack-1"]
	path = extensions/markup-pack-1
	url = https://github.com/blamspotdev/j-code-ext-markup-pack-1.git
	branch = main
[submodule "extensions/style-sheet-lang-pack"]
	path = extensions/style-sheet-lang-pack
	url = https://github.com/blamspotdev/j-code-ext-style-sheet-lang-pack.git
	branch = main
[submodule "extensions/postgres-client"]
	path = extensions/postgres-client
	url = https://github.com/blamspotdev/jcode-ext-postgres-client.git
	branch = main
[submodule "extensions/vm-mngr"]
	path = extensions/vm-mngr
	url = https://github.com/blamspotdev/j-code-ext-vm-mngr.git
	branch = main
[submodule "extensions/python"]
	path = extensions/python
	url = https://github.com/blamspotdev/jcode-ext-python.git
	branch = main
[submodule "extensions/kotlin"]
	path = extensions/kotlin
	url = https://github.com/blamspotdev/jcode-ext-kotlin.git
	branch = main
[submodule "extensions/android"]
	path = extensions/android
	url = https://github.com/blamspotdev/jcode-ext-android.git
	branch = main
[submodule "extensions/git-scm"]
	path = extensions/git-scm
	url = https://github.com/blamspotdev/jcode-ext-git-scm.git
	branch = main
[submodule "extensions/sql-client"]
	path = extensions/sql-client
	url = https://github.com/blamspotdev/j-code-ext-sql-client.git
	branch = main
[submodule "extensions/mermaid-prev"]
	path = extensions/mermaid-prev
	url = https://github.com/blamspotdev/jcode-ext-mermaid-prev.git
	branch = main
[submodule "extensions/cland-devpack"]
	path = extensions/cland-devpack
	url = https://github.com/blamspotdev/jcode-cland-devpack.git
	branch = main
[submodule "extensions/java-devpack"]
	path = extensions/java-devpack
	url = https://github.com/blamspotdev/jcode-java-devpack.git
	branch = main
[submodule "extensions/flutter"]
	path = extensions/flutter
	url = https://github.com/blamspotdev/jcode-ext-flutter.git
	branch = main
